body{
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}

/* .container{
    width: 1060px;
    margin: 0 auto;
} */

.menu{
    padding-top: 60px;
}

.menu-list{
    display: flex;
    justify-content:center;
}

.menu-list-item{
    padding-right: 25px;
}

.menu-list-item-link{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
}

.menu-list-item-link:hover{
    padding-bottom: 30px;
    border-bottom: solid #f1ad1d;
    color: #f1ad1d;
}

.first-section{
    background-image: url(../img/html_css_homework_homework8_img_bg1.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.initial-info{
    position: absolute;
    top: 320px;
    left: 70px;
}

.title{
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.initial-info-text{
    font-family: Lato;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
}

.first-slogan-word-customize{
    color:  #f1ad1d;
    background-color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    border: 1px solid #ffffff;
    padding: 20px 23px 20px 23px;
}

.slogan{
    display: inline-block;
    color:  #ffffff;
    font-size: 45px;
    font-weight: 700;
    border: 1px solid #ffffff;
    padding: 25px 30px 25px 20px;
}

.interim-information{
    position: relative;
    color: #000000;
    background-color: #ffffff;
    height: 200px;
    text-align: center;
}

.interim-information-first-line{
    font-size: 18px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
}

.interim-information-second-line{
    font-family: 'Lato';
    font-size: 14px;
}

.interim-information-second-line::after{
    content: "";
    display: block;
    width: 60px;
    border: 1px solid #f1ad1d;
    margin: 0 auto;
    margin-top: 45px;
}

.second-section{
    background-image: url(../img/html_css_homework_homework8_img_bg2.jpg);
    height: 380px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section-text{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
}

.second-section-text::after{
    content: "";
    display: block;
    width: 60px;
    border: 1px solid #f1ad1d;
    margin: 0 auto;
    margin-top: 45px;
}

.second-section-text span{
    color: #f1ad1d;
}

.third-section{
    background-image: url(../img/html_css_homework_homework8_img_bg3.jpg);
    height: 475px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-section-text{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
}

.third-section-text span{
    color: #f1ad1d;
}

.third-section-text::after{
    content: "";
    display: block;
    width: 60px;
    border: 1px solid #f1ad1d;
    margin: 0 auto;
    margin-top: 45px;
}

.some-logos-img{
    text-align: center;
    margin-top: 40px;
}

.some-logos-img img{
    padding-right: 30px;
}

.national-post-img{
    padding-bottom: 14px;
}

.househome-img{
    padding-bottom: 7px;
}

.fourth-section{
    background-image: url(../img/html_css_homework_homework8_img_bg4.jpg);
    height: 475px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-section-text{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
}

.fourth-section-text span{
    color: #f1ad1d;
}

.fourth-section-text::after{
    content: "";
    display: block;
    width: 60px;
    border: 1px solid #f1ad1d;
    margin: 0 auto;
    margin-top: 45px;
}

.link-description-link{
    font-family: 'Open Sans';
    color:  #ffffff;
    font-size: 13px;
    text-align: center;
    margin-top: 45px;
}

.link-description-link span{
    color: #f1ad1d;
}

.fourth-section-link-text{
    margin-top: 7px;
}

.fourth-section-link-text::after{
    content: "";
    display: block;
    width: 220px;
    border: 1px solid #ffffff;
    margin: 0 auto;
    margin-top: 45px;
}

.link-customize{
    text-decoration: none;
    color: #f1ad1d;
}

.btn-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffae00;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 16px 14px;
    border-radius: 10px;
}

.btn-top:hover{
    background-color: #ffffff;
    color: #f1ad1d;
    font-size: 20px;
}

#accordion{
    position: absolute;
    bottom: 20px;
    left: 40px;
    border: none;
    outline: none;
    background-color: #ffae00;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    padding: 16px 14px;
    border-radius: 10px;
}